{% load i18n %}

<!-- Footer -->
<footer class="container">

    <!-- horizontal line -->
    <hr>

    <!-- row -->
    <div class="row">
        <div class="col-sm-4">
            <ul>
                <li>
                    <h6>{% trans "Help" %}</h6>
                </li>
                <li>
                    <a href="http://django-cctv.readthedocs.io/en/latest/">{% trans "Online Documentation" %}</a>
                </li>
                <li>
                    <a href="https://github.com/linuxluigi/Django_CCTV">{% trans "Source Code" %}</a>
                </li>
                <li>
                    <a href="https://github.com/linuxluigi/Django_CCTV/issues">{% trans "Bug Tracker" %}</a>
                </li>
                <li>
                    <a href="mailto:info@linuxluigi.com">{% trans "Email Help" %}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- row -->

    <!-- horizontal line -->
    <hr>

    <!-- row -->
    <div class="row">

        <!-- copyright -->
        <div class="col-sm-12" align="center">
            <a href="https://github.com/linuxluigi/Django_CCTV">
                <div class="logo"></div>
            </a>
            <p>
                <a href="https://github.com/linuxluigi/Django_CCTV/blob/master/LICENSE">2017 Open Souce MIT LICENCE.</a>
                <a href="https://linuxluigi.com/">By Linuxluigi.com</a>.
            </p>
        </div>
        <!--/ copyright -->

    </div>
    <!-- row -->

    </div>
</footer>
<!-- Footer -->